/*
* 2025-01-29
* Cristhian Girón
*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; /* Centra verticalmente */
  height: 100vh;
  background-color: #f0f8ff;
  background-image: url(https://cdn.pixabay.com/photo/2019/08/27/22/23/nature-4435421_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
  background-image: url(https://cdn.pixabay.com/photo/2015/12/26/05/53/wood-1108307_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


button {
  width: 125px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  background-image: url(https://cdn.pixabay.com/photo/2016/12/18/09/10/trees-1915251_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
@keyframes sacudir {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(5px); }
}

button:hover {
  background-color: #0056b3;
  background-image: url(https://cdn.pixabay.com/photo/2023/01/06/19/29/wood-7701959_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  box-shadow: 0px 4px 8px rgb(0, 0, 0);
  animation: sacudir 0.5s ease-in-out;
}
 
p{
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-shadow: 0px 4px 8px rgb(0, 0, 0);
}

.hidden {
  display: none;
}

.img-title{
  width: 100%;
  filter: drop-shadow(4px 4px 6px rgb(173, 113, 0));
}

.img-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  
}
.img-base {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background-image: url(./images/image1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgb(0, 0, 0);
}

.img-pregunta {
  width: 240px; 
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

#pregunta{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-image: url(https://cdn.pixabay.com/photo/2018/03/11/20/25/wooden-3217987_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 50px;
}


#opciones button {
  display: block;
  width: 100%;
  margin: 5px 0;

}
.controls{
  position: relative;
  
}
.atras{
  position: absolute;
  left: -75px;
  top: -28px;
  background-color: transparent !important;
  background-image: url(./images/hacia-atras.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
}

.atras:hover{
  transform: rotate(-5deg);
  background-color: transparent !important;
  background-image: url(./images/hacia-atras.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
  filter: drop-shadow(4px 4px 6px rgb(0, 0, 0));
}

.img-logo{
  height: 200px;
  filter: drop-shadow(4px 4px 6px rgb(0, 0, 0));
}

.footer {
  text-align: center;
  font-size: 11px;
  color: #333;
  margin-top: 45px;
  margin-bottom: -15px;
}


.audio-contenedor{
position: relative;

}
 .info{
  background-color: transparent;
  background-image: url(./images/info.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
  top: -15px;
  left: -23px;
  position: absolute;
 }

 .info:hover{
  background-color: transparent;
  background-image: url(./images/info.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
}

.play{
  background-color: transparent;
  background-image: url(./images/bajar-volumen.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
  top: -15px;
  right: -23px;
  position: absolute;
}

.play:hover{
  background-color: transparent;
  background-image: url(./images/bajar-volumen.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
}

.pause{
  background-color: transparent;
  background-image: url(./images/silenciar-volumen.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  width: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
  top: -15px;
  right: -23px;
}

.pause:hover{
  background-color: transparent;
  background-image: url(./images/silenciar-volumen.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
}

#barraProgreso {
  transition: width 0.5s ease-out;
  color: white;
  font-weight: bold;
}
#resultado{
  margin-top: -100px;
  background-image: url(./images/mensaje.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 400px;
  
}
.content-sms{
  display: flex;
  align-content: end;
  justify-content: center;
  padding: 60px;
}
#mensaje {
  margin-top: 180px;
  margin-bottom: 0;
  display: flex;
  height: 75px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* Si la pantalla es menor a 768px (típico tamaño de móviles) */
@media (max-width: 768px) {
  #mensaje {
      margin-top: 155px;
  }
}

.happy{
  height: 100px;
  position: absolute;
  top: 35%;
}

.info-content{
  top: -150px;
  left: 15px;
  position: absolute;
  background-image: url(https://cdn.pixabay.com/photo/2016/12/18/09/10/trees-1915251_1280.jpg);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgb(0, 0, 0);
  width: 200px;
  
}

.info-sms{
 font-size: 12px;
 color: white;
 font-weight: normal;
 text-shadow: none;

}


.title-info{
  color: black;
  font-weight: bold;
  font-size: 15px;
  
}
.participants{
  text-align: start !important;
}
.unl{
  height: 35px;
  margin-bottom: -10px;
}

.close{
  color: black;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  top: -5px;
  right: -5px;
  cursor: pointer;
  transform: rotate(45deg);
  font-size: 27px;
  transition: all 0.5s ease;
}

.close:hover{
  transform: rotate(135deg);
  color: white;
}

